
body {
    font-family: arial, sans-serif;
}

#menu {
    background-color: #444;
    color: #eee;
}

#menu > div {
	-webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
		 -o-transition: all ease 0.25s;
			transition: all ease 0.25s;
    border-bottom: 1px solid;
}

#menu > div:hover {
    background-color: #0080ff;
}

#menu > div:last-child {
    border: none;
}

#menu .container img {}

#maincontainer {
    box-shadow: 0 0 1em;
}

#maincontainer > header {
    background-color: #ee8f4d;
    color: white;
	letter-spacing: 0.1em;
}

#toggle-menu {
	-webkit-transition: all ease 0.25s;
	   -moz-transition: all ease 0.25s;
		 -o-transition: all ease 0.25s;
			transition: all ease 0.25s;
}

#toggle-menu:active {
    background-color: #0080ff;
}

#toggle-menu:after {
	width: 20px;
}

#waiter {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    display: block;
    width: 4em;
    height: 4em;
    line-height: 4em;
    margin-top: -2em;
    margin-left: -2em;
    -webkit-animation: waiter 2s linear infinite;
	   -moz-animation: waiter 2s linear infinite;
		 -o-animation: waiter 2s linear infinite;
			animation: waiter 2s linear infinite;
}

@-webkit-keyframes waiter {
    0%, 100% {
        color: #000;
    }
    50% {
        color: #666;
    }
}

@keyframes waiter {
    0%, 100% {
        color: #000;
    }
    50% {
        color: #666;
    }
}
